.container {
    border: 2px solid black;
    display: flex;
    width: 983px;
    gap: 11px;
}

.image {
    /* border: 2px purple; */

}

.image img {
    justify-content: center;
    align-items: center;
    /* border: 2px red; */
    width: 210px;
    height: 121px;
    padding: 5px;
    margin: 6px;

}

.card {
    padding: 3px;
    margin: 3px;
    width: 210px;
    height: 125px;
    /* border: 2px solid fuchsia; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    border: 1px solid black;
}